<div class="well row">
  <div class="col-sm-6 col-md-8 form-group">
    <a href="#/">Home</a>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href="#/category">Category Title</a>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span ng-bind="ctrl.product.title">Item</span>
  </div>
  <div class="col-sm-6 col-md-4">
    <button class="btn btn-default form-control" ng-hide="ctrl.searchPanelShow" ng-click="ctrl.searchPanelShow = true">Find More</button>
    <div class="text-right">
      <button class="close" ng-show="ctrl.searchPanelShow" ng-click="ctrl.searchPanelShow = false">&times;</button>
    </div>
  </div>
  <div class="col-xs-12 hidden" ng-show="ctrl.searchPanelShow">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div >
      <img class="img-responsive center-block" ng-src="images/{{ctrl.product.thumb}}">
    </div>
    <div class="row">
      <div class="col-xs-4">
        <img class="img-responsive" ng-src="images/{{ctrl.product.thumb}}">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive" ng-src="images/{{ctrl.product.thumb}}">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive" ng-src="images/{{ctrl.product.thumb}}">
      </div>
    </div>

    <br/>
    <div class="row text-center">
      <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span>
      <span ng-bind="ctrl.product.watchers"></span>
      Watchers
      <a class="btn">Watch</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group row">
      <div class="col-xs-12">
        <h1 ng-bind="ctrl.product.title"></h1>
        <div>
          Seller: <b>starmotors</b> (135) 100% Positive feedback
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <div>
            <h4> <b>Current price:</b> <span ng-bind="ctrl.product.price | currency"></span>
              [5 bids]
            </h4>
          </div>
          <div>
            <b>Time Left:</b> <span ng-bind="ctrl.product.timeleft"1></span> h
          </div>
          <div>
            Today 15.00
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input class="form-control">
        </div>
        <div class="form-group">
          <button class="form-control btn btn-default btn-primary">Place Bid</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h4>Item's description:</h4>
      <p ng-bind="ctrl.product.description"></p>
    </div>
  </div>
</div>
