/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 0;
}

.alert  {
  margin-bottom: 0;
}

price-range .slider.slider-horizontal {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
